* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Montserrat, Tahoma;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFDD67;
  padding: 1rem;
}
.nav .nav-item {
  color: #c29800;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  text-decoration: none;
}
.nav .nav-item:hover {
  color: #FF9293;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF9293;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11rem;
  padding-bottom: 5rem;
}
.sec-1 h1 {
  font-weight: 900;
  font-size: 7rem;
}
.sec-1 h1 span {
  color: #FFDD67;
}
.sec-1 .decor {
  position: absolute;
  left: 60%;
}
.sec-1 .decor1 {
  position: absolute;
  width: 5.4%;
  top: 35.5%;
  left: 66%;
}
.sec-1 .decor2 {
  position: absolute;
  width: 17%;
  left: 0;
  top: 47%;
}
.sec-1 .head-content {
  font-size: 2rem;
  font-weight: 500;
}
.sec-1 .decor3 {
  padding-top: 2rem;
}

.food-category {
  display: flex;
  flex-direction: column;
  padding: 5rem 20rem;
  background-color: #FFDD67;
}
.food-category h1 {
  color: #FF9293;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
}
.food-category .category-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}
.food-category .category-content .category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}
.food-category .category-content .category-item .icon-container {
  width: 15rem;
  height: 15rem;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.food-category .category-content .category-item .icon-container img {
  display: block;
  width: 80%;
}
.food-category .category-content .category-item p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #414040;
}

.food-list {
  background-color: #FF9293;
  padding: 3rem 0rem;
}
.food-list h1 {
  color: #FF9293;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  color: #FFDD67;
}
.food-list .list-content {
  margin: 2rem 20rem;
}
.food-list .list-content hr {
  border-style: solid;
}
.food-list .list-content .list-item {
  display: flex;
  flex-direction: row;
}
.food-list .list-content .list-item .img-container {
  margin: 1.2rem;
}
.food-list .list-content .list-item .img-container img {
  width: 8rem;
}
.food-list .list-content .list-item .list-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1.2rem;
}
.food-list .list-content .list-item .list-details h4 {
  font-size: 1.5rem;
}
.food-list .list-content .list-item .list-details h4 span {
  color: #FFDD67;
}
.food-list .list-content .list-item .list-details p {
  font-size: 1rem;
  color: #494747;
  margin-top: 0.5rem;
}

.sec-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}
.sec-4 h3 {
  margin-top: 6rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #FF9293;
}
.sec-4 h3 span {
  color: #95776E;
}
.sec-4 h1 {
  font-size: 3.7rem;
  color: #FF9293;
}
.sec-4 h1 span {
  color: #95776E;
}
.sec-4 img {
  width: 60%;
}
.sec-4 h2 {
  color: #95776E;
  font-size: 3.2rem;
}
.sec-4 h2 span {
  color: #df2b2b;
}
.sec-4 h4 {
  color: #95776E;
  font-size: 2rem;
}
.sec-4 .sec-4-content {
  display: flex;
  flex-direction: row;
}
.sec-4 .sec-4-content .ingredients {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-4 .sec-4-content .ingredients h4 {
  text-align: center;
  color: #FF9293;
  margin: 1rem;
}
.sec-4 .sec-4-content .ingredients .ingredients-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #95776E;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 3rem;
}
.sec-4 .sec-4-content .nutrition-fact {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-4 .sec-4-content .nutrition-fact h4 {
  text-align: center;
  color: #FF9293;
  margin: 1rem;
}
.sec-4 .sec-4-content .nutrition-fact .fact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #95776E;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 3rem;
}

.sec-5 {
  background-color: #FFDD67;
  padding: 3rem;
}
.sec-5 h1 {
  color: #FF9293;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
}
.sec-5 h1 span {
  color: #fff;
}
.sec-5 .sec-5-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec-5 .sec-5-content .drinks {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.sec-5 .sec-5-content .drinks img {
  width: 15rem;
}
.sec-5 .sec-5-content .drinks h5 {
  font-size: 2.4rem;
  text-align: center;
  margin: 0.5rem;
}

.sec-6 {
  display: flex;
  flex-direction: row;
  background-color: #FF9293;
  align-items: center;
}
.sec-6 img {
  height: 40rem;
  margin-top: 6rem;
}
.sec-6 .decor4 {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 80%;
  top: 273rem;
}
.sec-6 .sec-6-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5rem;
  padding-left: 3rem;
}
.sec-6 .sec-6-content h1 {
  color: #FF9293;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  color: #FFDD67;
  text-align: left;
  font-size: 5rem;
  padding-top: 4rem;
}
.sec-6 .sec-6-content p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
  font-weight: 500;
}

/*# sourceMappingURL=home.css.map */
